@model IEnumerable<Basic.Models.category>

@{
    ViewBag.Title = "Danh mục";
    ViewBag.ChildUrl = "Danh sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <button type="button" class="jui-button-icon-left ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon icon-twitter"></span>
            <span class="ui-button-text">@Html.ActionLink("Thêm mới", "Create")</span>
        </button>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>

    <table class="table datatable-basic">
        <thead>
            <tr>
                <th>STT</th>
                <th>Category name</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.id)</td>
                        <td><a href="#">@Html.DisplayFor(modelItem => item.name)</a></td>

                        <td class="text-center">
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/Category/Details/@item.id"><i class="fa fa-list"></i> <span>Chi tiết</span></a>
                                        </li>
                                        <li>
                                            <a href="/Category/Edit/@item.id"><i class="fa fa-edit"></i> <span>Sửa</span></a>
                                        </li>
                                        <li>
                                            <a href="/Category/Delete/@item.id"><i class="fa fa-remove"></i> <span>Xóa</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                }
            }


        </tbody>
    </table>
</div>
