@model IEnumerable<Basic.Models.product>

@{
    ViewBag.Title = "Sản phẩm";
    ViewBag.ChildUrl = "Danh sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-flat">
    <div class="panel-heading">
        <button type="button" class="jui-button-icon-left ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button">
            <span class="ui-button-icon-primary ui-icon icon-twitter"></span>
            <span class="ui-button-text">@Html.ActionLink("Thêm mới", "Create")</span>
        </button>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="reload"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3">

                    <!-- User thumbnail -->
                    <div class="thumbnail">
                        <div class="thumb thumb-slide">
                            <img src="~/assets/images/brands/@Html.DisplayFor(modelItem => item.img)" alt="">
                            <div class="caption">
                                <span>
                                    <a href="#" class="btn bg-success-400 btn-icon btn-xs" data-popup="lightbox"><i class="icon-plus2"></i></a>
                                    <a href="user_pages_profile.html" class="btn bg-success-400 btn-icon btn-xs"><i class="icon-link"></i></a>
                                </span>
                            </div>
                        </div>

                        <div class="caption text-center">
                            <h6 class="text-semibold no-margin">
                                @Html.DisplayFor(modelItem => item.name)
                                <small class="display-block"><b>@Html.DisplayFor(modelItem => item.price)</b></small>
                            </h6>
                        </div>
                    </div>
                    <!-- /user thumbnail -->

                </div>
            }

        </div>
    </div>
</div>